
/* responsibe for the cover photo */

.cover {
	background: url(halong.png);
	background-size: cover;
	height: 400px;
}

/* make the navbar transparent */
.navbar {
	background: transparent;
	border-color: transparent;
}
/* text color of the tabs in navbar */
.cover a {
	color: white;
}
/* text color of the howdigh logo */

.navbar-inverse .navbar-brand{
	color:black;
}
.howdigh-title {
	text-align: center;
}
.howdigh-title h1 {
	font-family: sans-serif;
	font-size: 50px;
	font-size: 5vw;
	word-spacing: 20px;
	letter-spacing: 10px;
	padding-top: 20px;
	text-align: center;
	color: white;
	text-shadow: .2vw .2vw black;
}
.howdigh-title h4 {
	font-family: beautiful;
	font-size: 2vw;
	text-shadow: .1vw .1vw black;
	color: white;

}

.pop-stories h3 {
	color: black;
	font-weight: bold;
	text-align: center;
}





/* adding a hover effect to the boxes */

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  padding: 10px;
}
.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.hovereffect:hover img {
  filter: blur(20px) grayscale(20%);
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}




.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: white;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}
.hovereffect .description {
	text-overflow: hidden;
	color: white;
	text-align: left;
	max-height: 200px;
	max-width: 300px;
	position: fixed;


}


.hovereffect a, hovereffect p {
  color: white;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}
.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect span.glyphicon-eye-open {
	font-size: 1.4em;
}





















