
/* responsibe for the cover photo */

.cover {
	background: url(halong.png);
	background-size: cover;
	height: 400px;
}

/* make the navbar transparent */
.navbar {
	background: transparent;
	border-color: transparent;
}
/* text color of the tabs in navbar */
.cover a {
	color: grey;
}
/* text color of the howdigh logo */

.navbar-inverse .navbar-brand{
	color:grey;
}
.howdigh-title {
	text-align: center;
}
.howdigh-title h1 {
	font-family: beautiful;
	font-size: 50px;
	font-size: 5vw;
	word-spacing: 20px;
	letter-spacing: 10px;
	padding-top: 20px;
	text-align: center;
	color: white;
	text-shadow: .2vw .2vw black;
}
.howdigh-title h4 {
	font-family: beautiful;
	font-size: 2vw;
	text-shadow: .1vw .1vw black;
	color: white;

}