
/* responsibe for the cover photo */

.cover {
	background: lightblue;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 400px;

}

/* make the navbar transparent */
.navbar {
	background: transparent;
	border-color: transparent;
}
/* text color of the tabs in navbar */
.cover a {
	color: grey;
}
/* text color of the howdigh logo */

.navbar-inverse .navbar-brand{
	color:grey;
}
.howdigh-title {
	text-align: center;
}
.howdigh-title h1 {
	font-family: Beautiful;
	font-size: 50px;
	font-size: 5vw;
	word-spacing: 20px;
	letter-spacing: 10px;
	padding-top: 75px;
	text-align: center;
}
.howdigh-title h4 {
	font-family: Beautiful;
	font-size: 2vw;

}